<% include partials/header%>

        <!-- portion1  -->
      <div class="container-fluid">
        <div id="overlay"></div>
        <div class="row">
          <div class="col-12 bgimg" id="first-image">
            <div id="aboutText">
              <h1>About Us</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum arcu sed vulputate ornare. Donec mollis suscipit dui a posuere. Quisque pellentesque pharetra metus eget vehicula. Nunc mattis ante vitae lectus gravida convallis. Nam id ullamcorper nulla. Etiam vel eros ac augue convallis dignissim ac in risus</p>
            </div>
          </div>
        </div>
      </div>
      <!-- end of portion1 -->
<% include partials/footer%>