<% include partials/header%>

<div class="container-fluid" id="buy1">
  <div class="row">
    <div class="col-md-6 offset-md-6">
      <div id="overlay">
        <h1>Find your new Home</h1>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <h3>GUESSWORK = GONE</h3>
        <p>"Our All-In Monthly Pricing search includes estimated property taxes, HOA fees, PMI, utilities, insurance and closing costs to help take the surprises out of buying a home."</p>
      </div>
    </div>
  </div>
</div>

<% include partials/footer%>