<% include partials/header%>

<!-- portion1 -->
    <div class="container-fluid" id="contact">
      <div class="row">
        <div class="col-md-6 offset-md-6">
          <div id="overlay">
            <h1>IMPRESSED? LET'S TOUCH BASE</h1>
            <p>Should you have any question or concern, you can reach us by filling out the contact form below or you can find us on other social networks.</p>
            <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Full Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email Adress">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Contact Number">
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="3">Message</textarea>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- end of portion1 -->
<% include partials/footer%>