<% include partials/header%>
    <!-- portion1  -->
      <div class="container-fluid">
        <div id="overlay"></div>
        <div class="row">
          <div class="col-12 bgimg" id="first-image">
              <div id="imageText">
              <h1>Hello this is my Template</h1>
              <p>Responsive Blog HTML CSS Website Template</p>
              <button type="button" class="btn btn-secondary btn-lg">Large button</button>
            </div>
            
          </div>
        </div>
      </div>
      <!-- end of portion1 -->
      <!-- portion2 -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-lg-4">
              <div class="card grayScale">
              <img src="images/card1.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-secondary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="card grayScale">
              <img src="images/card2.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-secondary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="card grayScale">
              <img src="images/card3.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-secondary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="card grayScale">
              <img src="images/card4.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-secondary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="card grayScale">
              <img src="images/card5.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-secondary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="card grayScale">
              <img src="images/card6.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-secondary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of portion2 -->
      <!-- portion3 -->
      <div class="container-fluid grayScale" id="portion3">
        <div class="row">
          <div class="col-lg-4">
           <div class="p3text">
            <i class="fas fa-landmark"></i>
            <p>Ut vulputate eros non ante lobortis viverra. Vestibulum ut est lorem. Sed nec blandit lorem, eget iaculis quam. Mauris quis odio id sapien scelerisque mollis.</p>
           </div>
          </div>
          <div class="col-lg-4">
            <div class="p3text">
              <i class="fas fa-hotel"></i>
              <p>Ut vulputate eros non ante lobortis viverra. Vestibulum ut est lorem. Sed nec blandit lorem, eget iaculis quam. Mauris quis odio id sapien scelerisque mollis.</p>
            </div>
            
          </div>
          <div class="col-lg-4">
            <div class="p3text">
              <i class="fas fa-vihara"></i>
              <p>Ut vulputate eros non ante lobortis viverra. Vestibulum ut est lorem. Sed nec blandit lorem, eget iaculis quam. Mauris quis odio id sapien scelerisque mollis.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- end of portion3 -->
      <!-- portion4 -->
      <div class="container-fluid grayScale" id="portion4">
        <div class="row">
          <div class="col-lg-6">
            <img src="images/portion4.jpeg" class="img-fluid">
          </div>
          <div class="col-lg-6" id="text-container">
            <div id="p4text">
               <p>JAN 06, 2016</p>
               <h1>Molestias</h1>
               <h1>Accusamus Alias</h1>
               <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind text</p>
            </div>
          </div>
        </div>
      </div>
      <!-- end of portion4 -->
      <!-- portion5 -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 bgimg grayScale"  id="portion5">
            <div class="row owl-carousel owl-theme">
              <div class=" col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                <div class="p5text">
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus tincidunt ornare. Integer tempor finibus vulputate. Aenean feugiat sem urna, sit amet volutpat lorem vestibulum vitae. Ut non ipsum eget lectus efficitur varius.</p>
                </div>
                <img src="images/carousel1.jpeg" class="img-fluid">
              </div>
              <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                <div class="p5text">
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus tincidunt ornare. Integer tempor finibus vulputate. Aenean feugiat sem urna, sit amet volutpat lorem vestibulum vitae. Ut non ipsum eget lectus efficitur varius.</p>
                </div>
                <img src="images/carousel2.jpeg" class="img-fluid">
              </div>
              <div class=" col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                <div class="p5text">
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus tincidunt ornare. Integer tempor finibus vulputate. Aenean feugiat sem urna, sit amet volutpat lorem vestibulum vitae. Ut non ipsum eget lectus efficitur varius.</p>
                </div>
                <img src="images/carousel3.jpeg" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of portion 5 -->
<% include partials/footer%>